[submodule "utils/progressbar"]
	path = utils/progressbar
	url = git@github.com:gipert/progressbar.git
[submodule "utils/args-reader"]
	path = utils/args-reader
	url = git@github.com:vonsturm/args-reader.git
[submodule "utils/gerda-ar39-pdf"]
	path = utils/gerda-ar39-pdf
	url = git@github.com:gipert/gerda-ar39-pdf.git
